In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
X = dataset.drop(['RowNumber','CustomerId','Surname','Exited'], axis=1)
y = dataset['Exited']
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [4]:
X.shape

(10000, 10)

In [5]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X_1 = LabelEncoder()
X['Geography'] = labelencoder_X_1.fit_transform(X['Geography'])
labelencoder_X_2 = LabelEncoder()
X['Gender'] = labelencoder_X_2.fit_transform(X['Gender'])
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [9]:
classifier = Sequential()
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 10))
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [10]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
8000/8000 [==============================] - 7s 926us/step - loss: 0.4844 - accuracy: 0.7955
Epoch 2/100
8000/8000 [==============================] - 6s 797us/step - loss: 0.4355 - accuracy: 0.7960
Epoch 3/100
8000/8000 [==============================] - 6s 745us/step - loss: 0.4332 - accuracy: 0.7960
Epoch 4/100
8000/8000 [==============================] - 6s 731us/step - loss: 0.4290 - accuracy: 0.7960
Epoch 5/100
8000/8000 [==============================] - 8s 965us/step - loss: 0.4241 - accuracy: 0.8136
Epoch 6/100
8000/8000 [==============================] - 7s 864us/step - loss: 0.4210 - accuracy: 0.8245
Epoch 7/100
8000/8000 [==============================] - 6s 742us/step - loss: 0.4189 - accuracy: 0.8286
Epoch 8/100
8000/8000 [==============================] - 5s 610us/step - loss: 0.4168 - accuracy: 0.8290
Epoch 9/100
8000/8000 [==============================] - 3s 428us/step - loss: 0.4154 - accuracy: 0.8296
Epoch 10/100
8000/8000 [==============================] - 6s 710us/step - loss: 0.4139 - accuracy: 0.8320
Epoch 11/100
8000/8000 [==============================] - 5s 611us/step - loss: 0.4129 - accuracy: 0.8325
Epoch 12/100
8000/8000 [==============================] - 4s 479us/step - loss: 0.4115 - accuracy: 0.8331
Epoch 13/100
8000/8000 [==============================] - 3s 411us/step - loss: 0.4107 - accuracy: 0.8329
Epoch 14/100
8000/8000 [==============================] - 3s 387us/step - loss: 0.4097 - accuracy: 0.8342
Epoch 15/100
8000/8000 [==============================] - 3s 423us/step - loss: 0.4089 - accuracy: 0.8325
Epoch 16/100
8000/8000 [==============================] - 4s 475us/step - loss: 0.4083 - accuracy: 0.8335
Epoch 17/100
8000/8000 [==============================] - 4s 441us/step - loss: 0.4073 - accuracy: 0.8344
Epoch 18/100
8000/8000 [==============================] - 5s 597us/step - loss: 0.4069 - accuracy: 0.8356
Epoch 19/100
8000/8000 [==============================] - 3s 432us/step - loss: 0.4065 - accuracy: 0.8345
Epoch 20/100
8000/8000 [==============================] - 3s 421us/step - loss: 0.4060 - accuracy: 0.8349
Epoch 21/100
8000/8000 [==============================] - 3s 427us/step - loss: 0.4057 - accuracy: 0.8355
Epoch 22/100
8000/8000 [==============================] - 4s 468us/step - loss: 0.4053 - accuracy: 0.8353
Epoch 23/100
8000/8000 [==============================] - 4s 466us/step - loss: 0.4048 - accuracy: 0.8345
Epoch 24/100
8000/8000 [==============================] - 4s 488us/step - loss: 0.4042 - accuracy: 0.8350
Epoch 25/100
8000/8000 [==============================] - 4s 450us/step - loss: 0.4039 - accuracy: 0.8356
Epoch 26/100
8000/8000 [==============================] - 4s 468us/step - loss: 0.4040 - accuracy: 0.8351
Epoch 27/100
8000/8000 [==============================] - 5s 573us/step - loss: 0.4035 - accuracy: 0.8356
Epoch 28/100
8000/8000 [==============================] - 6s 805us/step - loss: 0.4033 - accuracy: 0.8361
Epoch 29/100
8000/8000 [==============================] - 5s 669us/step - loss: 0.4031 - accuracy: 0.8357
Epoch 30/100
8000/8000 [==============================] - 5s 654us/step - loss: 0.4028 - accuracy: 0.8349
Epoch 31/100
8000/8000 [==============================] - 5s 687us/step - loss: 0.4023 - accuracy: 0.8353
Epoch 32/100
8000/8000 [==============================] - 6s 760us/step - loss: 0.4027 - accuracy: 0.8366
Epoch 33/100
8000/8000 [==============================] - 5s 679us/step - loss: 0.4024 - accuracy: 0.8357
Epoch 34/100
8000/8000 [==============================] - 5s 635us/step - loss: 0.4019 - accuracy: 0.8356
Epoch 35/100
8000/8000 [==============================] - 6s 725us/step - loss: 0.4019 - accuracy: 0.8369
Epoch 36/100
8000/8000 [==============================] - 5s 640us/step - loss: 0.4017 - accuracy: 0.8355
Epoch 37/100
8000/8000 [==============================] - 6s 691us/step - loss: 0.4016 - accuracy: 0.8364
Epoch 38/100
8000/8000 [==============================] - 5s 621us/step - loss: 0.4019 - accuracy: 0.8370
Epoch 39/100
8000/8000 [==============================] - 6s 756us/step - loss: 0.4013 - accuracy: 0.8349
Epoch 40/100
8000/8000 [==============================] - 6s 810us/step - loss: 0.4015 - accuracy: 0.8359
Epoch 41/100
8000/8000 [==============================] - 7s 816us/step - loss: 0.4011 - accuracy: 0.8359
Epoch 42/100
8000/8000 [==============================] - 6s 725us/step - loss: 0.4015 - accuracy: 0.8360
Epoch 43/100
8000/8000 [==============================] - 6s 775us/step - loss: 0.4015 - accuracy: 0.8370
Epoch 44/100
8000/8000 [==============================] - 6s 790us/step - loss: 0.4013 - accuracy: 0.8355
Epoch 45/100
8000/8000 [==============================] - 6s 707us/step - loss: 0.4007 - accuracy: 0.8370
Epoch 46/100
8000/8000 [==============================] - 6s 695us/step - loss: 0.4007 - accuracy: 0.8354
Epoch 47/100
8000/8000 [==============================] - 5s 685us/step - loss: 0.4002 - accuracy: 0.8367
Epoch 48/100
8000/8000 [==============================] - 6s 734us/step - loss: 0.4003 - accuracy: 0.8364
Epoch 49/100
8000/8000 [==============================] - 6s 806us/step - loss: 0.4007 - accuracy: 0.8364
Epoch 50/100
8000/8000 [==============================] - 4s 559us/step - loss: 0.4003 - accuracy: 0.8359
Epoch 51/100
8000/8000 [==============================] - 5s 662us/step - loss: 0.4007 - accuracy: 0.8359
Epoch 52/100
8000/8000 [==============================] - 9s 1ms/step - loss: 0.4002 - accuracy: 0.8363
Epoch 53/100
8000/8000 [==============================] - 8s 972us/step - loss: 0.3996 - accuracy: 0.8342
Epoch 54/100
8000/8000 [==============================] - 7s 863us/step - loss: 0.4001 - accuracy: 0.8363
Epoch 55/100
8000/8000 [==============================] - 7s 830us/step - loss: 0.4001 - accuracy: 0.8353
Epoch 56/100
8000/8000 [==============================] - 4s 483us/step - loss: 0.4002 - accuracy: 0.8344
Epoch 57/100
8000/8000 [==============================] - 3s 397us/step - loss: 0.3998 - accuracy: 0.8363
Epoch 58/100
8000/8000 [==============================] - 3s 380us/step - loss: 0.4000 - accuracy: 0.8350
Epoch 59/100
8000/8000 [==============================] - 4s 529us/step - loss: 0.3999 - accuracy: 0.8356
Epoch 60/100
8000/8000 [==============================] - 4s 526us/step - loss: 0.3996 - accuracy: 0.8353
Epoch 61/100
8000/8000 [==============================] - 4s 449us/step - loss: 0.4003 - accuracy: 0.8347
Epoch 62/100
8000/8000 [==============================] - 4s 451us/step - loss: 0.4002 - accuracy: 0.8350
Epoch 63/100
8000/8000 [==============================] - 3s 404us/step - loss: 0.4005 - accuracy: 0.8350
Epoch 64/100
8000/8000 [==============================] - 4s 451us/step - loss: 0.3996 - accuracy: 0.8353
Epoch 65/100
8000/8000 [==============================] - 6s 746us/step - loss: 0.3996 - accuracy: 0.8355
Epoch 66/100
8000/8000 [==============================] - 6s 800us/step - loss: 0.4000 - accuracy: 0.8335
Epoch 67/100
8000/8000 [==============================] - 5s 657us/step - loss: 0.4000 - accuracy: 0.8366
Epoch 68/100
8000/8000 [==============================] - 5s 625us/step - loss: 0.4001 - accuracy: 0.8357
Epoch 69/100
8000/8000 [==============================] - 5s 664us/step - loss: 0.3999 - accuracy: 0.8361
Epoch 70/100
8000/8000 [==============================] - 6s 710us/step - loss: 0.4002 - accuracy: 0.8353
Epoch 71/100
8000/8000 [==============================] - 5s 641us/step - loss: 0.3996 - accuracy: 0.8356
Epoch 72/100
8000/8000 [==============================] - 5s 622us/step - loss: 0.3996 - accuracy: 0.8349
Epoch 73/100
8000/8000 [==============================] - 4s 550us/step - loss: 0.3992 - accuracy: 0.8350
Epoch 74/100
8000/8000 [==============================] - 5s 626us/step - loss: 0.3993 - accuracy: 0.8357
Epoch 75/100
8000/8000 [==============================] - 5s 610us/step - loss: 0.3997 - accuracy: 0.8357
Epoch 76/100
8000/8000 [==============================] - 5s 622us/step - loss: 0.3990 - accuracy: 0.8335
Epoch 77/100
8000/8000 [==============================] - 5s 611us/step - loss: 0.3998 - accuracy: 0.8349
Epoch 78/100
8000/8000 [==============================] - 6s 802us/step - loss: 0.3994 - accuracy: 0.8359
Epoch 79/100
8000/8000 [==============================] - 4s 511us/step - loss: 0.3994 - accuracy: 0.8350
Epoch 80/100
8000/8000 [==============================] - 4s 544us/step - loss: 0.3996 - accuracy: 0.8335
Epoch 81/100
8000/8000 [==============================] - 5s 628us/step - loss: 0.3995 - accuracy: 0.8350
Epoch 82/100
8000/8000 [==============================] - 4s 520us/step - loss: 0.3994 - accuracy: 0.8345
Epoch 83/100
8000/8000 [==============================] - 3s 372us/step - loss: 0.3994 - accuracy: 0.8355
Epoch 84/100
8000/8000 [==============================] - 3s 421us/step - loss: 0.3993 - accuracy: 0.8361
Epoch 85/100
8000/8000 [==============================] - 3s 423us/step - loss: 0.3993 - accuracy: 0.8372
Epoch 86/100
8000/8000 [==============================] - 3s 428us/step - loss: 0.3996 - accuracy: 0.8356
Epoch 87/100
8000/8000 [==============================] - 3s 380us/step - loss: 0.3990 - accuracy: 0.8361
Epoch 88/100
8000/8000 [==============================] - 3s 414us/step - loss: 0.3995 - accuracy: 0.8342
Epoch 89/100
8000/8000 [==============================] - 3s 390us/step - loss: 0.3993 - accuracy: 0.8365
Epoch 90/100
8000/8000 [==============================] - 3s 388us/step - loss: 0.4000 - accuracy: 0.8351
Epoch 91/100
8000/8000 [==============================] - 3s 382us/step - loss: 0.3992 - accuracy: 0.8341
Epoch 92/100
8000/8000 [==============================] - 3s 379us/step - loss: 0.3996 - accuracy: 0.8340
Epoch 93/100
8000/8000 [==============================] - 3s 407us/step - loss: 0.3995 - accuracy: 0.8339
Epoch 94/100
8000/8000 [==============================] - 3s 429us/step - loss: 0.3992 - accuracy: 0.8355
Epoch 95/100
8000/8000 [==============================] - 3s 408us/step - loss: 0.3990 - accuracy: 0.8350
Epoch 96/100
8000/8000 [==============================] - 3s 367us/step - loss: 0.3992 - accuracy: 0.8345
Epoch 97/100
8000/8000 [==============================] - 3s 395us/step - loss: 0.3997 - accuracy: 0.8371
Epoch 98/100
8000/8000 [==============================] - 3s 396us/step - loss: 0.3991 - accuracy: 0.8364
Epoch 99/100
8000/8000 [==============================] - 4s 549us/step - loss: 0.3995 - accuracy: 0.8349
Epoch 100/100
8000/8000 [==============================] - 4s 551us/step - loss: 0.3995 - accuracy: 0.8354

In [11]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [12]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1543,   52],
       [ 269,  136]])

In [14]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score

In [15]:
def build_classifier():
    classifier = Sequential()
    classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 10))
    classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
    classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))
    classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
    return classifier

In [16]:
classifier = KerasClassifier(build_fn = build_classifier, batch_size=10, nb_epoch=100)
accuracies = cross_val_score(estimator = classifier, X = X_train, y = y_train, cv=10, n_jobs=-1)

In [17]:
accuracies.mean()

0.7960000097751617

In [18]:
accuracies

array([0.78625   , 0.79000002, 0.80000001, 0.78250003, 0.81625003,
       0.81      , 0.78750002, 0.79374999, 0.79874998, 0.79500002])

In [19]:
accuracies.std()

0.010105690527913859